################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/.vs/ConsoleApplication1/v14/.suo
